---
layout: default

formprocessor: "https://mathcs.ursinus.edu:8093/"
enctype: "application/x-www-form-urlencoded"
facultyemail: "ctralie@ursinus.edu"

formprocessordirections: "Clicking Run below will check your work and, if it passes, will submit your work automatically. <strong>You must be connected to the VPN for submission to be successful!  You will receive a copy of your code via e-mail, so you'll know that it was submitted if you receive that e-mail!</strong>"

submitformlinkdirections: "Clicking Run below will check your work and, if it passes, make a page appear above that you can use to submit your work or with further instructions."
---

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/gl-matrix-min.js"></script>
<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

<script type="text/javascript" src = "{{site.baseurl}}/assets/js/ggslac/jslibs/dat.gui.min.js"></script>
<script type="text/javascript" src = "{{site.baseurl}}/assets/js/ggslac/jslibs/webgl-utils.js"></script>
<script type="text/javascript" src = "{{site.baseurl}}/assets/js/ggslac/jslibs/webgl-debug.js"></script>

<script src="{{site.baseurl}}/assets/js/ggslac/geometry/polymesh.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/geometry/basicmesh.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/geometry/primitives3d.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/geometry/cameras3d.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/shaders/shaders.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/utils/simpledraw.js"></script>

<script src="{{site.baseurl}}/assets/js/ggslac/viewers/basecanvas.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/viewers/scenecanvas.js"></script>
<script src="{{site.baseurl}}/assets/js/ggslac/viewers/matrixanim.js"></script>

<style>
.image_off, #home:hover .image_on{
   display:none
}
.image_on, #home:hover .image_off{
   display:block
}
#sceneEditor {
    position: relative;
    width: 700px;
    height: 200px;
}
#vertEditor {
    position: relative;
    width: 700px;
    height: 300px;
}
#fragEditor {
    position: relative;
    width: 700px;
    height: 300px;
}
#feedbackText {
    position: relative;
    width: 700px;
    height: 100px;
}

</style>

<script src="{{site.baseurl}}/assets/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/modules-common.js" type="text/javascript" charset="utf-8"></script>

<div id="main" role="main">
  <div class="archive">    
    <h1 class="page__title">{{ page.title }}{% if page.info.points %} ({{page.info.points}} Points){% endif %}</h1>
        Developed by <a href="http://www.ctralie.com">Chris Tralie</a>.

        {% if page.info.prev or page.info.next %}
        <p>
        {% if page.info.prev %}
        <button onclick="window.location.href = '{{ page.info.prev }} ';"> &lt--- Previous</button>
        {% endif %}
        {% if page.info.next %}
        <button onclick="window.location.href = '{{ page.info.next }}';">Next ---&gt</button>
        {% endif %}
        </p>
        <HR>
        {% endif %}
        
        {% if page.info.goals %}
        <h1>Exercise Goals</h1>
        The goals of this exercise are:
        <ol>
        {% for goal in page.info.goals %}
        <li>{{goal}}</li>
        {% endfor %}
        </ol>
        {% endif %}
        
        {% if page.info.instructions %}
        {{ page.info.instructions }}
        {% endif %}

        <h3>Scene</h3>
        <div id="sceneEditor">{{ page.scene.code }}</div>
        <button onclick="updateScene();">Update Scene</button>
        <h3>Vertex Shader</h3>
        <div id="vertEditor">{{ page.vert.code }}</div>
        <h3>Fragment Shader</h3>
        <div id="fragEditor">{{ page.frag.code }}</div>
        
        <button onclick="updateShader();">Update Shaders</button>

        <div id="feedbackText"></div>
        <canvas id="GLCanvas1" style="border: none;" width="800" height="600"></canvas>

        <div id="correctArea"></div>
        
        <p>
        <strong>Enter your Ursinus netid before clicking run.  This is <u>not</u> your ID number or your email.  For example, my netid is <code>ctralie</code> (non Ursinus students can simply enter their name to get this to run, but they won't get an e-mail record or any form of credit)</strong> 
        </p>
        
        <table>
            <tr>
                <td>
                    Netid
                </td>
                <td>
                    <input type="text" id="studentnetid" name="studentnetid" onchange="if(document.getElementById('studentnetid').value.length > 0) document.getElementById('runbutton').disabled = false; else document.getElementById('runbutton').disabled = true;">
                </td>
            </tr>
        </table>
        {% if layout.formprocessor and layout.formprocessor != false %}
        {{ layout.formprocessordirections }}<br>
        {% endif %}
        {% if page.processor.submitformlink and page.processor.submitformlink != false %}
        {{ layout.submitformlinkdirections }}<br>
        {% endif %}
        
        <button type = "button" onclick = "if(document.getElementById('studentnetid').value.length > 0) runCode(); else correctArea.innerHTML = '<h3><font color = #AA0000>Please enter your netid first!</font></h3>';" id="runbutton" disabled>▶ Run</button>
        </p>
        



        <script>
        let correctArea = document.getElementById("correctArea");
        let correctlyAnswered = false;
        let numAttempts = 0;

        let sceneEditor = ace.edit("sceneEditor");
        sceneEditor.setFontSize(16);
        sceneEditor.session.setMode("ace/mode/javascript");
        {% if page.scene.isreadonly == true %}
        sceneEditor.setReadOnly(true);                     
        {% endif %}

        let shaderPath = "{{site.baseurl}}/assets/js/ggslac/shaders/";
        let meshesPath = "{{site.baseurl}}/assets/js/ggslac/meshes/";
        let glcanvas = document.getElementById("GLCanvas1");
        glcanvas.addEventListener("contextmenu", function(e){ e.stopPropagation(); e.preventDefault(); return false; }); //Need this to disable the menu that pops up on right clicking
        let scene = new SceneCanvas(glcanvas, shaderPath, meshesPath, true, true, true);
        scene.gui.close();


        let vertEditor = ace.edit("vertEditor");
        vertEditor.setFontSize(16);
        vertEditor.session.setMode("ace/mode/glsl");
        {% if page.vert.isreadonly == true %}
        vertEditor.setReadOnly(true);                     
        {% endif %}

        let fragEditor = ace.edit("fragEditor");
        fragEditor.setFontSize(16);
        fragEditor.session.setMode("ace/mode/glsl");
        {% if page.frag.isreadonly == true %}
        fragEditor.setReadOnly(true);                     
        {% endif %}

        let feedback = ace.edit("feedbackText");
        feedback.setFontSize(16);
        feedback.renderer.setShowGutter(false);

        function updateShader() {
            console.log("Updating shaders");
            let vertexSrc = vertEditor.getValue();
            let fragmentSrc = fragEditor.getValue();
            console.log(vertexSrc);
            try {
                function finalizeShader() {
                    let gl = scene.gl;
                    let shader = getShaderProgram(gl, "studentShader", vertexSrc, fragmentSrc);
                    shader.shaderReady = true;
                    shader.description = 'Student shader';
                    shader.vPosAttrib = gl.getAttribLocation(shader, "vPos");
                    gl.enableVertexAttribArray(shader.vPosAttrib);
                    shader.vNormalAttrib = gl.getAttribLocation(shader, "vNormal");
                    gl.enableVertexAttribArray(shader.vNormalAttrib);
                    shader.vColorAttrib = gl.getAttribLocation(shader, "vColor");
                    gl.enableVertexAttribArray(shader.vColorAttrib);
                    shader.pMatrixUniform = gl.getUniformLocation(shader, "uPMatrix");
                    shader.mvMatrixUniform = gl.getUniformLocation(shader, "uMVMatrix");
                    shader.tMatrixUniform = gl.getUniformLocation(shader, "tMatrix");
                    shader.nMatrixUniform = gl.getUniformLocation(shader, "uNMatrix");
                    shader.ambientColorUniform = gl.getUniformLocation(shader, "uAmbientColor");
                    shader.uKaUniform = gl.getUniformLocation(shader, "uKa");
                    shader.uKdUniform = gl.getUniformLocation(shader, "uKd");
                    shader.uKsUniform = gl.getUniformLocation(shader, "uKs");
                    shader.uShininessUniform = gl.getUniformLocation(shader, "uShininess");
                    shader.uEyeUniform = gl.getUniformLocation(shader, "uEye");
                    shader.u_lights = [];
                    shader.u_numLights = gl.getUniformLocation(shader, "numLights");
                    for (let i = 0; i < MAX_LIGHTS; i++) {
                        let light = {
                            pos: gl.getUniformLocation(shader, "lights["+i+"].pos"),
                            color: gl.getUniformLocation(shader, "lights["+i+"].color"),
                            atten: gl.getUniformLocation(shader, "lights["+i+"].atten")
                        };
                        shader.u_lights.push(light);
                    }
                    scene.shaderToUse = shader;
                    requestAnimationFrame(scene.repaint.bind(scene));
                }
                // This is a hack since the default shader is blinnPhong
                if (this.shaderReady in scene.shaders.blinnPhong || scene.shaders.blinnPhong.shaderReady) {
                    finalizeShader();
                }
                else {
                    scene.shaders.blinnPhong.then(finalizeShader);
                }

            }
            catch(err) {
                feedback.setValue("Error Compiling Shader: " + err.message);
            }
        }
        

        function updateScene() {
            try {
                scene.setupScene(JSON.parse(sceneEditor.getValue()), glcanvas.clientWidth, glcanvas.clientHeight);
                scene.drawEdges = false;
                scene.updateMeshDrawings();
                console.log(scene.shaderToUse);
                updateShader();
            }
            catch(err) {
                feedback.setValue("Error Parsing Scene: " + err.message);
            }

        }
        updateScene();


        <!-- https://stackoverflow.com/questions/7542586/new-formdata-application-x-www-form-urlencoded -->
        function urlencodeFormData(fd){
            var s = '';
            function encode(s){ return encodeURIComponent(s).replace(/%20/g,'+'); }
            for(var pair of fd.entries()){
                if(typeof pair[1]=='string'){
                    s += (s?'&':'') + encode(pair[0])+'='+encode(pair[1]);
                }
            }
            return s;
        }

        /**
         * Send code to the server with a POST command
         * @param {boolean} vpnwarn Whether to warn about connecting to a vpn
         * @param {boolean} halfcredit Whether this is a half credit submission
         */
        function postCode(vpnwarn, halfcredit) {
            <!-- Setting a layout.formprocessor will send a POST request to a form processor -->
            {% if layout.formprocessor and layout.formprocessor != false %}
            submitcode = "==================\n=====vertex=======\n==================\n" + vertEditor.getValue();
            submitcode += "\n\n==================\n=====fragment=====\n==================\n" + fragEditor.getValue();
            
            var xhttp = new XMLHttpRequest();
            xhttp.onerror = function(e){
                if (vpnwarn) {
                    alert("Unable to submit.  Are you connected to the VPN?  Please try to submit again!");
                }
            };

            xhttp.open("POST", "{{ layout.formprocessor | strip }}", true)
            xhttp.setRequestHeader("Content-type", "{{ layout.enctype | strip }}");
            
            var formdata = new FormData();
            formdata.append("facultyemail", "{{ layout.facultyemail | strip }}"); // required
            formdata.append("magic", "ursinus"); // required
            formdata.append("title", "{{ page.title | strip }}"); // required
            formdata.append("studentnetid", document.getElementById("studentnetid").value.toLowerCase()); //required
            formdata.append("code", submitcode);
            {% if page.canvasasmtid %}
            formdata.append("canvasasmtid", "{{page.canvasasmtid}}");
            {% endif %}
            {% if page.canvaspoints %}
            formdata.append("canvaspoints", "{{page.canvaspoints}}");
            {% endif %}
            if (halfcredit) {
                formdata.append("canvashalfcredit", true);
            }
            
            xhttp.send(urlencodeFormData(formdata));                    
            {% endif %}
        }

        function runCode() {
            try {
                numAttempts++;
                let editorText = "";
                for (var i in editors) {
                    editorText += editors[i].getValue();
                    editorText += "\n";
                }
                let code = makeCodeJavscriptConsolePrint(editorText, mainEditor.getValue());
                eval(code);
                feedback.setValue(feedbackString);
                {{ page.processor.feedbackprocess | strip }}
                
                if ({{ page.processor.correctcheck | strip}}) {
                    correctlyAnswered = true;
                    correctArea.innerHTML = "<h3><font color = #00AA00>{{ page.processor.correctfeedback | strip}}</font></h3>";
                    <!-- Setting a page.processor.submitformlink in the markdown will pop up an iframe with a page of your choice -->
                    {% if page.processor.submitformlink and page.processor.submitformlink != false %}
                    correctArea.innerHTML += `
                    <iframe src = "{{ page.processor.submitformlink | strip }}" width=800 height=500>
                    `;
                    {% endif %}
                    
                    postCode(true, false);
                }
                {% if page.processor.incorrectchecks %}
                {% for check in page.processor.incorrectchecks %}
                else if ({{ check.incorrectcheck | strip}}) {
                    correctArea.innerHTML = "<h3><font color = red>{{ check.feedback | strip }}</font></h3>";
                }
                {% endfor %}
                {% endif %}
                else {
                    correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
                }
            }
            catch(err) {
                correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
                feedback.setValue("Error: " + err.message);
            }

            {% if page.canvashalftries %}
            if (!correctlyAnswered && numAttempts == {{ page.canvashalftries }}) {
                postCode(false, true);
            }


            {% endif %}

        }
        </script>        
        
    {{ content }} 
  </div>
</div>